<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator V2 Implementation</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <meta name="author" content="Andrew Chapman" />
    <style type="text/css">
        div.feedback {
            padding-top: 20px;
            font-weight: bold;
        }

        div.feedback p {
            display: none;
        }
    </style>
</head>
<body>
    <form id="frmCalculator" name="frmCalulator" method="post" action="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h1>Calculator V2 Demo</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="operation">Operation</label>
                                <select id="operation" name="operation" class="form-control">
                                    <option value="U+1F47D">&#128125; Alien</option>
                                    <option value="U+1F480">&#128128; Skull</option>
                                    <option value="U+1F47B">&#128123; Bones</option>
                                    <option value="U+1F631">&#128561; Scream</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="parameter1">Parameter 1</label>
                                <input type="text" id="parameter1" name="parameter1" class="form-control" value="5" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="parameter2">Parameter 2</label>
                                <input type="text" id="parameter2" name="parameter2" class="form-control" value="10" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button id="btnSubmit" class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 feedback" style="padding-top: 20px;">
                            <p id="loading" class="text-warning">Loading, please wait...</p>
                            <p id="result" class="text-success">Success</p>
                            <p id="error" class="text-error">Error</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var objCalculator = new Calculator('#frmCalculator');
            objCalculator.init();
        });
    </script>
</body>
</html>